h1 {
    color: black;
    border: 10px double black;
    padding: 0.5em;
    box-sizing: content-box;
    outline: 5px solid wheat;
    outline-offset: -20px;
    
}

body {
    background-color: papayawhip;
}
section P {
    font-size: large;
    color: black;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    text-align: justify;
}
nav p {
    font-family: monospace;
    font-size: larger;
    text-align: justify;
    text-indent: 1em;
    font-size: 16px;
    line-height: 1.5;  
}
p {
font-size: 20px;
font-style: oblique;
}
h2 {
    list-style-type: upper-roman;
}
